*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  height: 298px;
  padding-left: 1px;
  padding-top: 1px;
  overflow-y: auto;
  position: relative;
}

.title {
  padding-bottom: 26px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1200px;
}

.result {
  min-width: 711px;
  padding-top: 78px;
}

.result__video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  min-width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.content__list-item {
  width: 394px;
  min-height: 107px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  appearance: none;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 2px;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  min-width: 212px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  width: fit-content;
  outline: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.search-form__label-text:hover {
  cursor: pointer;
}

.search-form__textfield {
  cursor: text;
  width: 225px;
  height: 27px;
  color: #fff;
  background-color: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;

  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  cursor: pointer;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  content: "";
}

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
}

.button {
  cursor: pointer;
}

.button:focus {
  outline: none;
  text-decoration: none;
  background: transparent;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  border: 1px solid #fff;
  background: #545050;
  text-decoration: none;
  cursor: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
}

.more-button {
  width: 399px;
  height: 34px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  margin: 2px;
}
